---
import { Picture } from '@astrojs/image/components';
import BaseLayout from '../components/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import HomeSection from '../components/HomeSection.astro';
import Button from '../components/Button.astro';
import ring from '../img/ring.jpg';
import ourStory from '../img/our-story.jpg';
import footerImage from '../img/footer.jpg';
---

<BaseLayout pageTitle="Home">
	<Hero />
	<HomeSection img={{src: ring, altText: "Engagement ring"}} reversed={false}>
		<h2 class="fancy">When & Where</h2>
		<div>Saturday, June 4th, 2022</div>
		<div>in Cincinnati, OH</div>
		<h3 class="fancy">Ceremony:</h3>
		<div>
			Saint Ursula Academy<br />
			1339 E McMillan St,<br />
			Cincinnati, OH 45206
		</div>
		<h3 class="fancy">Reception:</h3>
		<div>
			Little Miami Brewing Event Center<br />
			208 Mill Street,<br>
			Milford, Ohio 45150
		</div>
		<br>
		<Button link="https://www.zola.com/wedding/metzgersims2022/rsvp" type="rsvp">
			RSVP <i class="fas fa-external-link-alt"></i>
		</Button>
		<br><br>
		<Button link="/schedule/" type="default">
			More details &rarr;
		</Button>
		<br>
		<Button link="/accomodations/" type="default">
			Accomodations &rarr;
		</Button>
	</HomeSection>

	<HomeSection img={{src: ourStory, altText: "Christine & Andy"}} reversed={true}>
		<h2 class="fancy">Our Story</h2>
		<div>
			<p>It was May 2017. The app was <i>OkCupid</i>. Andy sent a message to a cute girl, inquiring about her favorite podcasts. She responded with a quick rundown of her favs and introduced herself as Christine. After a few more messages sent back and forth covering the usual getting-to-know-you topics, Andy and Christine agreed to meet up at Arch City Tavern in the Short North of Columbus. It of course went well! And so a second date was agreed to at Easton Town Center, where they ate Condado Tacos and sat by Central Park Fountain, enjoying a few hours of conversation.</p>
			<p>That summer, since Christine and Andy both worked near Easton, they began meeting up there every week on Wednesdays to have dinner and maybe do a crossword puzzle or three. The next four years were full of many dates, trivia and game nights, brewery visits, day trips around Ohio, vacations to Michigan and the Virgin Islands, and not to mention a global pandemic. Then, on an evening in June, Andy and Christine went to Easton for a Saturday date night. After leaving Pins Mechanical Co., Andy suggested they walk in the direction of the fountain where they talked on their second date. They sat down on a bench and it was there that Andy asked the girl who had become both his best friend and love of his life to marry him. And she said yes.</p>
		</div>
	</HomeSection>
	<Picture class="home-bottom-image" src={footerImage} 
				widths={[480, 769, 1200, 1921]} 
				sizes="(max-width:480px) 480px, (min-width:481px) 769px, (min-width:769px) 1200px, (min-width:1200px) 1921px" 
				alt="Christine & Andy" />
</BaseLayout>	  
