---
import BaseLayout from "../components/BaseLayout.astro";
import Button from "../components/Button.astro";
import img from  "../img/footer2.jpg";
import { Picture } from '@astrojs/image/components';
---

<BaseLayout pageTitle="Schedule">
    <div class="sched-wrapper">
        <h2 class="fancy">Wedding Day Schedule</h2>
        <div class="schedule-date">Saturday, June 4th, 2022</div>
        <div class="schedule-date">in Cincinnati, OH</div>
        <div class="flex-container">
          <div class="flex-item">
            <h3 class="fancy">Ceremony:</h3>
            Saint Ursula Academy<br />
            1339 E McMillan St<br />
            Cincinnati, OH 45206<br />
            2:30 PM<br />
            <Button link="https://goo.gl/maps/5cVApdH6m86BcsVp7" type="default">
                View Map &rarr;
            </Button>
            <!-- <span class="btn"><a target="_blank" href="https://goo.gl/maps/5cVApdH6m86BcsVp7">View Map &rarr;</a></span> -->
          </div>
          <div class="flex-item">
            <h3 class="fancy">Reception:</h3>
            Little Miami Brewing Event Center<br />
            208 Mill Street,<br />
            Milford, Ohio 45150<br />
            5:00 PM<br />
            <Button link="https://goo.gl/maps/S7cLdR5mvjBbNks96" type="default">
                View Map &rarr;
            </Button>
            <!-- <span class="btn"><a target="_blank" href="https://goo.gl/maps/S7cLdR5mvjBbNks96">View Map &rarr;</a></span> -->
          </div>
        </div>
        <div class="parking-info">
          <h4>Ceremony Parking Info:</h4>
          <p>
            Please drive into front circle to be directed by a Cincinnati Police Officer. Parking will be available in the follwing locations: 
          </p>
          <ul>
            <li>front circle (limited availability)</li>
            <li>parking lot east of the school</li>
            <li>SUA Administrative Building</li>
            <li>Keller Center student parking lots, located between William Howard Taft and East McMillan Streets on Bell Street</li>
          </ul>          
        </div>
        <Picture class="home-bottom-image" src={img} 
				widths={[480, 769, 1200, 1921]} 
				sizes="(max-width:480px) 480px, (min-width:481px) 769px, (min-width:769px) 1200px, (min-width:1200px) 1921px" 
				alt="Christine & Andy" />
      </div>
</BaseLayout>

<style lang="scss">
    div.sched-wrapper {
  padding-top: 2rem;
  font-size: 1rem;
  h2 {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #f68d6f;
    width: 15rem;
    margin: 0 auto 1rem auto;
  }
  h3 {
    font-size: 1.125rem;
  }
  .schedule-date {
    font-size: 1rem;
  }

  div.parking-info {
    width: 90%;
    margin: 0 auto;
    max-width: 40rem;
    text-align:left;
    font-size: .875rem;
    margin-top: 3rem;

    @media (min-width: 480px) {
      max-width: 66%;      
    }

    @media (min-width: 769px) {
      max-width: 50%;
    }

    h4 {
      font-weight: 700;
    }

    ul {
      padding-left: 1rem;
    }
  }

  img {
    width: 100%;
    margin-top: 5rem;
    height: 25rem;
    object-fit: cover;

    @media (min-width: 769px) {
      height: 30rem;
    }
    @media (min-width: 1300px) {
      height: 30rem;
    }
    @media (min-width: 1500px) {
      height: 60rem;
    }
  }
}

</style>