---
import { Picture } from '@astrojs/image/components';
const { img, reversed } = Astro.props;
---

<div class={`home-section-container ${reversed ? 'home-section-container-reversed' : ''}`}>
    <div class="grid-item grid-item-1">
      <Picture class="home-section-image home-section-image-1" src={img.src} 
                widths={[480, 769, 1200]} 
                sizes="(max-width:480px) 480px, (min-width:481px) 769px, 1200px" 
                alt={img.altText} />
    </div>
    <div class="grid-item grid-item-2">
      <div class="text-container">
        <slot />        
      </div>
    </div>
</div>

<style lang="scss">
    .home-section-container {
        display: grid;
        grid-template-rows: auto auto;
        width: 75%;
        margin: 5rem auto 3rem auto;
        box-sizing: border-box;

        @media (min-width: 769px) {
            grid-template-rows: auto;
            grid-template-columns: 55% 45%;
        }

        @media (min-width: 1001px) {
            grid-template-columns: 50% 50%;
        }

        .grid-item {
            width: 100%;

            &-1 {
            grid-row: 1;
            margin-bottom: 3rem;
            @media (min-width: 769px) {
                margin-bottom: 0;
                min-height: 30rem;
            }
            }

            &-2 {
            grid-row: 2;
            position: static;
            @media (min-width: 769px) {
                grid-row: 1;
                min-height: 30rem;
                position: relative;
                .text-container {
                width: 100%;
                position: absolute;
                top: 50%;
                right: -1rem;
                transform: translateY(-50%);
                }
            }
            h2 {
                border-bottom: 4px solid #f68d6f;
                padding-bottom: 0.5rem;
                width: 75%;
                max-width: 25rem;
                margin: 0 auto 0.5rem auto;
            }
            h3 {
                font-weight: 900;
            }
            p {
                text-align: center;
            }
            }
        }

        img.home-section-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left center;
            border-radius: 5px;
        }

        &-reversed {
            @media (min-width: 769px) {
            grid-template-columns: 55% 45%;
            grid-template-rows: 50rem;
            position: relative;
            }
            @media (min-width: 1001px) {
            grid-template-columns: 50% 50%;
            }
            .grid-item {
            &-1 {
                @media (min-width: 769px) {
                grid-column: 2;
                position: absolute;
                width: 15rem;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                }
                @media (min-width: 1000px) {
                width: 75%;
                right: 50%;
                transform: translate(50%, -50%);
                }
                @media (min-width: 1800px) {
                top: 0;
                left: 0;
                transform: none;
                width: 100%;
                }
            }

            &-2 {
                @media (min-width: 769px) {
                .text-container {
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
                p {
                    text-align: left;
                    text-indent: 2rem;
                }
                }
                @media (min-width: 1501px) {
                .text-container {
                    width: 75%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                }
            }
            }

            img.home-section-image {
            @media (min-width: 1001px) {
                width: 100%;
            }
            @media (min-width: 1800px) {
                position: static;
                margin-left: auto;
                margin-right: auto;
                width: 75%;
                margin: 0 auto;
                max-height: 50rem;
            }
            }
        }
    }
</style>